{{template "fragHeader" .}}
{{template "fragValidationMessages" .}}
<div class="grid">
    <article>
        <header><strong><i class='bx bx-highlight' ></i> Import Your Kobo Highlights</strong></header>
        Import and curate your highlights and annotations from any Kobo eReader.
    </article>
    <article>
        <header><strong><i class='bx bx-library' ></i> Liberate Your Knowledge</strong></header>
        Export your data at any time in popular, standard plain-text formats.
    </article>
</div>
<div class="grid">
    <article>
        <header><strong><i class='bx bxs-castle' ></i> Build Your Vocabulary</strong></header>
        Export your Kobo's Vocab Builder words -- alongside their definitions -- in TSV format for easy import into Anki and other flashcard apps!
    </article>
    <article>
        <header><strong><i class='bx bxs-book-open' ></i> Free and Open Source</strong></header>
        LibePub is free and open-source software. Want to know how it works? Look at the <a href="https://github.com/andrew-lawlor/librepub">source code</a>!
    </article>
</div>
{{ if not .LoggedIn}}
<div class="centered-text">
<h2>Ready to Get Started?</h2>
<a href="/register" role="button">Register Now!</a>
</div>
{{ else }}
<div class="centered-text">
<h2>Ready to Get Started?</h2>
<a href="/upload-db" role="button">Import Your Highlights!</a>
</div>
{{ end }}
{{template "fragFooter"}}