{{template "fragHeader" .}}
<h2>Kobo's 'My Words' Feature</h2>
<p>Many of the more recent Kobo eReaders have an experimental 'My Words' feature. Although labeled <i>experimental</i>, 
    I've found it to be quite stable and I've never had any problems with it.</p>
    <p>My Words basically allows you to save words as you look them up in the dictionary while reading. This is a great way to build up your vocabulary. LibrePub allows you to
         take this one step further by facilitating the export of your saved words to the <code>.tsv</code> file format, 
         which can be easily imported into <a href="https://apps.ankiweb.net/">Anki</a> or other flashcard apps.
    </p>
    <p>To enable this feature, simply:</p>
    <ol>
        <li>Navigate to More > Beta Features.</li>
        <img src="/images/screen_001.opti.webp" class="explainer-image" alt="Step 1">
        <li>Check the 'My Words' option.</li>
        <img src="/images/screen_002.opti.webp" class="explainer-image" alt="Step 2">
        <li>View your saved words under Activity > My Words.</li>
        <img src="/images/screen_003.opti.webp" class="explainer-image" alt="Step 3">
    </ol>
{{template "fragFooter"}}