{{define "fragFooter"}}
</main>
</body>
<footer class="container" style="text-align: center;">
    <hr>
    <p style="margin-bottom: 2px;"><strong>Ethos</strong></p>
    <code>
    "Freely you have received; freely give."<br>
    —Matthew 10:8 (NIV)<br>
    </code>
    <br>
    <a href="https://www.youtube.com/@Community-Compute" target="_blank">YouTube</a> |
    <a href="https://sceadubin.com/" target="_blank">SceaduBin</a> |
    <a href="https://community-compute.com" target="_blank">Blog</a> |
    <a href="https://github.com/andrew-lawlor/librepub" target="_blank">Source</a><br>
    <img src="/images/cc-mascot.webp" alt="Community Compute Mascot" style="height: 72px; width: 80px; margin-bottom: 5px;"></a>
    <br>
    <img src="/images/htmx-banner.webp" alt="Community Compute Mascot" style="height: 40px; width: 160px;"></a>
    <br>
    <small><a href="/legal">Legal</a></small>
</footer>
</html>
{{end}}